/* BillReport.css */

.bill-container {
  padding: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f7ff;
  min-height: 100vh;
}

.bill-card {
  max-width: 700px;
  margin: 30px auto;
  padding: 30px;
  background-color: white;
  border-radius: 12px;
  border: 2px solid #003366;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.1);
}

.bill-card h2 {
  text-align: center;
  color: #003366;
  margin-bottom: 20px;
}

.bill-card p {
  margin: 6px 0;
  font-size: 16px;
}

.bill-card hr {
  margin: 20px 0;
}

.btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.btn-print {
  background-color: gray;
}

.btn-pay {
  background-color: green;
}

.btn:hover {
  opacity: 0.9;
}

.no-data {
  padding: 50px;
  text-align: center;
  font-family: Arial;
}

.no-data h2 {
  color: red;
  margin-bottom: 10px;
}

.no-data button {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
